@charset "utf-8";

/* Color Theme Swatches in Hex 
.Luna-Wealth-1-hex { color: #4218D9; }
.Luna-Wealth-2-hex { color: #09090D; }
.Luna-Wealth-3-hex { color: #F2E74B; }
.Luna-Wealth-4-hex { color: #F29E38; }
.Luna-Wealth-5-hex { color: #BF2424; }
*/