@charset "UTF-8";
/* estilo para telas*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

header{
  background-color: rgb(108, 71, 23);
}
header > h1{
  text-align: center;
}

menu ul{
  list-style-type: none;
background-color: blue;
}

menu li{
  display: inline-block;
  padding: 20px;
  background-color: chartreuse;
}

article{
  width: 600px;
  display: block;
  margin: auto;
}